<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="32feet.NET" version="3.5.0.0" targetFramework="net472" />
  <package id="Bluetooth" version="1.0.0.2" targetFramework="net472" />
  <package id="InTheHand.BluetoothLE" version="4.0.22" targetFramework="net472" />
  <package id="InTheHand.Net.Bluetooth" version="4.0.25" targetFramework="net472" />
  <package id="InTheHand.Net.IrDA" version="4.0.2" targetFramework="net472" />
  <package id="InTheHand.Net.Obex" version="4.0.4" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.22000.196" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net472" />
</packages>